// Icon Sizes
// -------------------------

// makes the font 33% larger relative to the icon container
.#{$fa-css-prefix}-lg {
  font-size: (4em );
  //line-height: (3em / 4);
  vertical-align: -.0667rem;
}

.#{$fa-css-prefix}-xs {
  font-size: .75rem;
}

.#{$fa-css-prefix}-sm {
  font-size: .875rem;
}

@for $i from 1 through 10 {
  .#{$fa-css-prefix}-#{$i}x {
    font-size: $i * 1rem;
  }
}
