// List Icons
// -------------------------

.#{$fa-css-prefix}-ul {
  list-style-type: none;
  padding-left: 0;

  > li { position: relative; }
}

.#{$fa-css-prefix}-li {
  position: absolute;
  text-align: center;
  line-height: inherit;
}
