@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "variables.scss";

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;

  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
body {
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}
#header,
#footer {
  flex: none;
}
#header {
  position: sticky;
  position: -webkit-sticky;
  background-color: rgb(77, 77, 77);
  top: 0px;
  z-index: 100;
}

#main {
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

#footer {
  width: 100%;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $bg-primary, $bg-secondary); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $bg-primary, $bg-secondary);
  color: #fefefe;
  text-align: center;
  padding: 6vh;
  z-index: 1;
}
