@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "variables.scss";

#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;

  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
}
#header,
#footer {
  flex: none;
}
#header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
  padding: 0.5rem 5rem 1rem 5rem;
  @media only screen and (max-width: 800px) {
    padding: 0.5rem 1rem 1rem 1rem;
  }
}

#main {
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

#footer {
  width: 100%;
  background-image: url("assets/imgs/newwawe.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 330px;
  color: #fefefe;
  text-align: center;
  display: flex;
  align-items: flex-end;
  @media only screen and (min-width: 1200px) {
    padding: 6vh;
  }
}

.full-y {
  min-height: 100vh;
}
.overflow {
  overflow-y: hidden;
}
.fingerprint-spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
}
