@import url("https://fonts.googleapis.com/css?family=Roboto");
#app {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 14px;

  .img-responsive {
    max-width: 100%;
    height: auto;
  }
}
html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
body {
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d3d0d2,
    #584f9e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d3d0d2, #584f9e);
}
#header,
#footer {
  flex: none;
}
#main {
  -webkit-overflow-scrolling: touch;
  flex: auto;
}

#footer {
  width: 100%;
  background: #42275a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d3d0d2,
    #42275a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d3d0d2, #584f9e);
  color: #fefefe;
  text-align: center;
  padding: 6vh;
  z-index: 1;
}
#header {
  a {
    display: block;
    padding: 17px 17px;
    color: #fefefe;
    text-decoration: none;
  }
  .p-0 {
    padding: 0;
  }
  .link {
    color: #fefefe;
    font-weight: bold;
    text-transform: capitalize;

    &:hover {
      cursor: pointer;
      background-color: #2f8cd8;
      color: #222;
    }
  }
}
