/* Width Size */
.w-5 {
    width: 5% !important;
}
.w-10 {
    width: 10% !important;
}
.w-15 {
    width: 15% !important;
}
.w-20 {
    width: 20% !important;
}
.w-25 {
    width: 25% !important;
}
.w-30 {
    width: 30% !important;
}
.w-35 {
    width: 35% !important;
}
.w-40 {
    width: 40% !important;
}
.w-45 {
    width: 45% !important;
}
.w-50 {
    width: 50% !important;
}
.w-55 {
    width: 55% !important;
}
.w-60 {
    width: 60% !important;
}
.w-65 {
    width: 65% !important;
}
.w-70 {
    width: 70% !important;
}
.w-75 {
    width: 75% !important;
}
.w-80 {
    width: 80% !important;
}
.w-85 {
    width: 85% !important;
}
.w-90 {
    width: 90% !important;
}
.w-95 {
    width: 95% !important;
}
.w-100 {
    width: 100% !important;
}

/* Height Size */

.h-5 {
    height: 5% !important;
}
.h-10 {
    height: 10% !important;
}
.h-15 {
    height: 15% !important;
}
.h-20 {
    height: 20% !important;
}
.h-25 {
    height: 25% !important;
}
.h-30 {
    height: 30% !important;
}
.h-35 {
    height: 35% !important;
}
.h-40 {
    height: 40% !important;
}
.h-45 {
    height: 45% !important;
}
.h-50 {
    height: 50% !important;
}
.h-55 {
    height: 55% !important;
}
.h-60 {
    height: 60% !important;
}
.h-65 {
    height: 65% !important;
}
.h-70 {
    height: 70% !important;
}
.h-75 {
    height: 75% !important;
}
.h-80 {
    height: 80% !important;
}
.h-85 {
    height: 85% !important;
}
.h-90 {
    height: 90% !important;
}
.h-95 {
    height: 95% !important;
}
.h-100 {
    height: 100% !important;
}

/* Special Width */
.w-33 {
    width: 33% !important;
}
.w-66 {
    width: 66% !important;
}

/* Margin - Padding */
.m-0 {
    margin: 0rem 0rem 0rem 0rem !important;
}
.m-1 {
    margin: 0.25rem 0.25rem 0.25rem 0.25rem !important;
}
.m-2 {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
.m-3 {
    margin: 0.75rem 0.75rem 0.75rem 0.75rem !important;
}
.m-4 {
    margin: 1rem 1rem 1rem 1rem !important;
}

.my-2 {
    margin: 0.5rem 0rem 0.5rem 0rem !important;
}
.mx-2 {
    margin: 0rem 0.5rem 0rem 0.5rem !important;
}
.my-4 {
    margin: 1rem 0rem 1rem 0rem !important;
}
.mx-4 {
    margin: 0rem 1rem 0rem 1rem !important;
}

.p-0 {
    padding: 0rem 0rem 0rem 0rem !important;
}
.p-1 {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem !important;
}
.p-2 {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
}
.p-3 {
    padding: 0.75rem 0.75rem 0.75rem 0.75rem !important;
}
.p-4 {
    padding: 1rem 1rem 1rem 1rem !important;
}

.py-2 {
    padding: 0.5rem 0rem 0.5rem 0rem !important;
}
.px-2 {
    padding: 0rem 0.5rem 0rem 0.5rem !important;
}
.py-4 {
    padding: 1rem 0rem 1rem 0rem !important;
}
.px-4 {
    padding: 0rem 1rem 0rem 1rem !important;
}

/* Position element */
.cx {
    text-align: center !important;
}
.dx {
    text-align: right !important;
}
.sx {
    text-align: left !important;
}

/* Text-Uppercase */
.text-uppercase {
    text-transform: uppercase !important;
}

/* Position DataTable */
/* body .p-datatable .p-datatable-thead > tr > th {text-align: center !important} */

/* Color BG*/
.bg-primary {
    background-color: #007bff !important;
}
.bg-secondary {
    background-color: rgb(226, 226, 226) !important;
}
.bg-secondary-light {
    background-color: rgb(241, 240, 240) !important;
}
.bg-success {
    background-color: #28a745 !important;
}
.bg-danger {
    background-color: #dc3545 !important;
}
.bg-warning {
    background-color: #ffc108 !important;
}
.bg-info {
    background-color: #17a2b8 !important;
}
.bg-light {
    background-color: #f8f9fa !important;
}
.bg-dark {
    background-color: #343a40 !important;
}
.bg-white {
    background-color: white !important;
}
.bg-transparent {
    background-color: transparent !important;
}

/* Color Text */
.text-primary {
    color: #007bff !important;
}
.text-secondary {
    color: #6c757d !important;
}
.text-success {
    color: #689f38 !important;
}
.text-danger {
    color: #dc3545 !important;
}
.text-warning {
    color: #FBC02D !important;
}
.text-info {
    color: #17a2b8 !important;
}
.text-light {
    color: #f8f9fa !important;
}
.text-dark {
    color: #343a40 !important;
}
.text-white {
    color: white !important;
}
.text-transparent {
    color: transparent !important;
}

/* Position */
.relative {
    position: relative !important;
}
.absolute {
    position: relative !important;
}
.flex {
    position: flex !important;
}

.vertical-align-center {
    vertical-align: middle !important;
}

.float-sx {
    float: left !important;
}
.float-dx {
    float: right !important;
}
/*  */

$fontSize: 13px;
$textColor: #252529;
$textSecondaryColor: #65656a;
$transitionDuration: 0.3s;

/*  */

