$bg-primary: #42275a;
$bg-secondary: #8854b4;
$bg-transparent: rgba(
    $color: #000000,
    $alpha: 0.6,
);
$text-primary: #42275a;
$text-secondary: #8854b4;
$i-telegram: #d8d8d8;
$i-twitter: #48b8fd;
$i-instagram: linear-gradient(45deg, #405be2, #6963d8, #8849b3, #be4c8d, #e05080, #fa5353);
