<template>
  <div class="p-grid p-pt-3">
    <div class="p-col-12">
      <img src="https://fakeimg.pl/350x200/?text=MUSA&font=lobster" />
      <h1 class="text-white">
        Buy and sell your music using crypto!
      </h1>
      <Button
        icon="fas fa-wallet"
        class="p-button-lg p-button-help"
        label="Buy MUSA"
      />

      <Button
        icon="fab fa-telegram"
        class="p-button-outlined p-button-lg p-ml-3 p-mt-2 p-mt-md-0 p-mt-lg-0 p-button-help"
        label="Join Telegram"
      />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  methods: {},
};
</script>

<style></style>
